.idea/
/.vscode
/nbproject/
/vendor
/node_modules
Homestead.yaml
composer.lock
Homestead.json
.env
debug.log
.well-known/
app/.DS_Store

/public/manifest.json
/public/uploads/redactor_articles/*
!/public/uploads/redactor_articles/index.html
/public/uploads/redactor_blogs/*
!/public/uploads/redactor_blogs/index.html
/public/uploads/redactor_categories/*
!/public/uploads/redactor_categories/index.html
/public/uploads/watermark/*
!/public/uploads/watermark/index.html
/public/uploads/products_temp_images/*
/public/uploads/customUploads/*
/public/uploads/predefined_designs/*
!/public/uploads/products_temp_images/index.html
/public/uploads/category/*
!/public/uploads/category/index.html
/public/uploads/products/*
!/public/uploads/products/index.html
/public/uploads/posts/*
!/public/uploads/posts/index.html
/public/uploads/banners/*
/public/uploads/excel/*
/public/uploads/excel/exports/*
/public/uploads/exports/excel/*
!/public/uploads/banners/index.html
/public/uploads/manufacturers/*
!/public/uploads/manufacturers/index.html
/public/uploads/suppliers/*
!/public/uploads/suppliers/index.html


